.buttonStylesText {
    height: 27px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.35;
    text-align: center;
}
/* /////////////////////////// */

.buttonBlock {
    margin: 40px 0 0 15px;
}

.buttonBlockSmall {
    margin: 20px 15px 0;
}

.buttonLeft {
    width: 173px;
    height: 42px;

    border: 1px solid #2E7ACC;
    box-sizing: border-box;
    border-radius: 7px 0px 0px 7px;
    background: #FFFFFF;
}

.buttonRight {
    width: 172px;
    height: 42px;

    background: #2E7ACC;
    border: 1px solid #2E7ACC;
    box-sizing: border-box;
    border-radius: 0px 7px 7px 0px;
}

.buttonLeftSmall,
.buttonRightSmall,
.buttonCenterSmall {
    width: 116px;
    height: 42px;
    border: 1px solid #2E7ACC;
}

.buttonLeftSmall {
    border-radius: 7px 0px 0px 7px;
}

.buttonCenterSmall {
    width: 115px;
    border-radius: 0px;
    margin: 0 -1px;
}

.buttonRightSmall {
    border-radius: 0px 7px 7px 0px;
}

.blockTariff {
    width: 260px;
    height: 697px;
    border: 1px solid #2E7ACC;
}

.blockTariff:hover {
    cursor: pointer;
}

.blockTariffPrice {
    width: 345px;
    height: 166px;
    margin: 25px 15px 0;

    background: #EBF5FF;
    border-radius: 7px;
}

.smallBlockTariffPrice {
    width: 185px;
    height: 93px;
    margin: 33px 80px 40px;
}

.blockTariffTitle {
    width: 183px;
    height: 34px;
    margin: 0;

    font-weight: bold;
    font-size: 20px;
    line-height: 1.7;
/* identical to box height, or 170% */

    text-align: center;
    color: #000000;
}

.priceTariff {
    width: 185px;
    height: 54px;

    font-weight: bold;
    font-size: 54px;
    line-height: 1;
    /* identical to box height, or 100% */
    
    text-align: center;
    
    color: #000000;
}