/* Basic styles */
html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}
li {
    list-style-type: none;
}

body {
    margin: 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.333;
}

.stylesTitleForm {
    width: 153px;
    height: 25px;

    font-size: 18px;
    line-height: 1.389;
/* identical to box height */


color: #000000;
}
